 @import "bootstrap";

 html, head, body, main{
    height: 95%;
 }

 .row {
    text-align: center;
 }

 .card {
    padding:.25rem;
    background-color:#dee2e6;
    border:1px solid #6c757d;
    border-radius:.25rem;
    padding-left: 5%;
    padding-right: 5%;
    position:relative;
    text-align:center;
    }

    main {
      border-bottom:1px solid #dee2e6;
    }

    footer { 
      position:absolute; 
      bottom:0;
      text-align: center;
      height: 5%;
      width:100%;
      }